<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
      <!-- 引入 Bootstrap -->
      <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
      <style>
          .close0{font-weight:bold;color: green;font-size:1.2em;}
          .diff{font-weight:bold;color: red;font-size:1.2em;}
          .sky {color:red;background-color:lightblue;	padding:20px;font-family:"Courier New";}
          .direct{color:red;padding:20px;font-family:"Courier New";font-weight:bold}
      </style>

   </head>
   <body>
   <div class = "container" ng-app="myApp" ng-controller="siteCtrl">
      <audio id = "qAudio" controls="controls" ng-click="playQAudio()" ng-src="http://music.163.com/song/media/outer/url?id=1919454.mp3" type="audio/mpeg" ></audio>
    <!-- <h3>当前k线是前面5根k线成交量的倍数: <span class="bs">{{bs}}</span> </h3>
    <h3><small>   成交量: {{vol}}</small>           <small>当前价格: {{price}}</small></h3> -->
    <table class="table">
      <caption>数字货币行情监控</caption>
     <thead>
        <tr>
           <th>币种</th>
           <th>当前价格</th>
           <th>突破强度</th>
           <th>价格动态</th>
           <th>vol突破强度</th>
           <th>成交量倍数</th>
           <th>现价-M5收盘</th>
           <th>前M5收盘价</th>
           <th>前12根K平均成交量</th>
           <th>前M5成交量</th>
           <th>前M5成交金额(万)</th>
           


        </tr>
     </thead>
     <tbody ng-repeat="x in data|orderBy:'diff':'desc'">
        <tr>
           <td class ='close0'>{{x.symbol}}</td>
           <td class ='close0'>{{x.close0 |number:4}}</td>   
           <td ng-class='{sky:{{x.diff > 8}}}' class ='diff'>{{x.diff|number:2}}</td>
           <td ng-class='{direct:{{x.direct == "上涨"}}}'>{{x.direct }}</td>
           <td ng-class='{sky:{{x.vol_breakup > 10}}}' style="font-size:1.2em;color:darkviolet;font-weight:bold">{{x.vol_breakup|number:2}}</td>
           <td ng-class='{sky:{{x.bs > 5}}}'>{{x.bs|number:2}}</td>
           <td>{{x.close0 - x.close1 |number:4}}</td>
           <td>{{x.close1|number:4}}</td>
           <td>{{x.avg|number:2}}</td>
           <td>{{x.vol_1|number:2}}</td>
           <td>{{x.vol_1 * x.close1 |number:2 |currency:'￥'}}</td>
           


        </tr>
  
     </tbody>
  </table>

  <table class="table">
  <thead>
     <tr>
        <th>币种</th>
        <th>记录</th>
     </tr>
  </thead>
  <tbody ng-repeat="(x,y) in history">
     <tr>
        <td>{{x}}</td>
        <td>{{y}}</td>

     </tr>

  </tbody>
</table>

    </div>
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </body>
   
    <script>
   var app = angular.module('myApp', []);
   let audio = document.getElementById("qAudio");
	app.controller('siteCtrl', function($scope, $http,$interval) {
      $scope.history = {};

      
      
	  $interval(function(){
		$http.get("http://127.0.0.1:8080/getjson")
		  .success(function (response) {
         for(let p in response){  // console.log(p);//   取得是key值 // console.log(obj[p]);//取得是value值
               if(response[p].diff > 8 || response[p].bs> 5 || response[p].vol_breakup> 10){ 

                  if(audio.paused){
                     audio.load();
                     audio.play();
                  }
                  let myDate = new Date();
                  let mytime = myDate.toLocaleString( );
                  let h_arr = [];
                  // console.log($scope.history[response[p].symbol]);
                  if(typeof($scope.history[response[p].symbol]) == 'undefined'){
                     h_arr.push(mytime);
                     h_arr.push('成交量倍数:'+response[p].bs.toFixed(2));
                     h_arr.push('价格突破强度:'+response[p].diff.toFixed(2));
                     h_arr.push('成交量突破强度：'+response[p].vol_breakup.toFixed(2));
                     $scope.history[response[p].symbol] = h_arr;
                  }else{
                     let time_str = $scope.history[response[p].symbol][0];
                     let time2 = new Date(time_str);
                     let diff = (myDate.getTime() - time2.getTime())/1000;
                     if(diff < 300) return;
                  }  

                  // console.log($scope.history);

               }                  
            }
            $scope.data = response;
            // console.log($scope.data);
		  });//end for http.get
	  },1800)// end for interval
	  
	});
	</script>
</html>